<div style="display: flex;
 justify-content: space-between;
 padding-left:100px;
 padding-right:100px;
 padding-top:20px;
 padding-bottom:10px;
 box-shadow: 2px 1px 2px #eee;
 position: relative;
z-index: 10;
"> <div > <img src ='static/logo.svg' width=200px height=30px style:"paading-top:15px"></img> </div> <div style="display: flex;
"> <div style="padding:20px; cursor: pointer;"> Signup </div> <div style="padding:20px; cursor: pointer;">
  About us </div> <div style="padding:20px; cursor: pointer;">
  Product </div> <div style="padding:20px; cursor: pointer;"> Logout </div> </div> </div>
   <div width ="size=50px">
    <br>
    <br>
    <center>
      <img src ='static/zerodha.png'  width=50% height=50%>  </img>
    </center>
 </div>
 <center>
<h1> Invest in everything </h1>
<h2>Online platform to invest in stocks, derivatives, mutual funds, and more </h2>
<button type="button">Signup</button>
</center>
